.roboto-font {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.max-width {
	max-width: 1200px;
	margin: 100px auto;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px auto;
}

.navLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navLink li {
	list-style: none;
}

.navLink a {
	margin: 0 10px;
	text-decoration: none;
	color: gray;
}

.button {
	background: blue;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	border-color: transparent;
}
.button-sec {
	background: white;
	color: blue;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	border-color: blue;
}

.button:hover {
	background: #0066ff;
}

.button-sec:hover {
	background: #0066ff;
	color: white;
}

.banner {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("./assets/banner.jpg");
	background-size: cover;
	background-position: center;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.banner-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
}

.banner-text h1 {
	font-size: 50px;
	font-weight: bold;
}

.section-title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.section-description {
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
	color: gray;
}

.meet-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

.meet-card {
	border: 1px solid rgb(210, 209, 209);
	border-radius: 10px;
}

.meet-card img {
	width: 100%;
}

.meet-card-text h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.meet-card-text {
	padding: 20px;
}

.secure-spot-pricing-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	margin: 0 50px;
}

.secure-spot-card {
	border: 1px solid lightgray;
	padding: 16px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.secure-spot-card h2 {
	font-size: 16px;
	margin-bottom: 10px;
	color: gray;
}

.secure-spot-card p {
	color: gray;
	margin-bottom: 10px;
}

.secure-spot-card .secure-spot-price {
	font-size: 40px;
	color: #000;
	font-weight: bold;
}

.secure-spot-card .secure-spot-divider {
	border-top: 1px solid lightgray;
	margin: 16px 0;
}

.secure-spot-card ul {
	padding-left: 16px;
}

.secure-spot-card button {
	width: 100%;
}

.secure-spot-dark {
	background-color: #0d1b2a;
	color: #b7babf;
}

.secure-spot-dark h2 {
	color: #93c5fd;
}

.secure-spot-dark .secure-spot-price {
	color: lightgray;
}
